# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
config.log
config.status
src/.deps/
src/Makefile
Makefile
bin/.dirstamp

bintest
bin/usb_flasher
obj
*.xz
.DS_STORE
*.o
