# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
config.log
config.status
src/.deps/
src/Makefile
Makefile
bin/.dirstamp

bintest
bin/usb_flasher
obj
*.xz
.DS_STORE
*.o
gcc-linaro-arm-linux-gnueabihf-4.8-2014.04_linux/

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate