ATTRS{idVendor}=="0451", ATTRS{idProduct}=="6141", MODE="0664", GROUP="plugdev"
ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a2", MODE="0664", GROUP="plugdev"
ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a5", MODE="0664", GROUP="plugdev"
